*{
    margin: 0;
    padding: 0;
    
}
/* hi this is a comment */
.head{
    position: fixed;
    height: 70px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.div{
    /* display: inline; */
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 170px;
}
.btns{
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    
}
.btn1{
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-radius: 20px 20px 0px 20px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: #90E0EF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.7s;
}
.btn2{
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-radius: 20px 20px 20px 0px;
    border: 1px solid white;
    background-color: #90E0EF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.7s;
}
.btn1:hover{
    background-color: #03045E;
    color: white;
}
.btn2:hover{
    background-color: #03045E;
    color: white;
}
.menu{
    position: fixed;
    display: flex;
    top: 70px;
    width: 100vw;
    height: 50px;
    background-color: #90E0EF;
    align-items: center;
    justify-content: space-around;
}
.menu-item{
    
    height: 50px;
    display: flex;
    align-items: center;
    width: 16.7vw;
    justify-content: center;
    transition-duration: 0.7s;
}
.menu-item:hover{
    background-color: #03045E;
    color: white;
}
.menu-item a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 16.7vw;
    transition-duration: 1s;
}
.menu-item a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
}
